:root {
  --titleFont: 'Abril Fatface', cursive;
  --bodyFont: 'Raleway', sans-serif;

  /* COLOURS */
  --bgColour: #f5f1ea;
  --bgAccent: #d0c9be;
  --postBorder: #97a2a7;
  --hColour: #8c9086;
  --fontColour: #666973;

  /* STYLING */
  --borderRad: 10px;
}

html { 
  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: var(--bodyFont);
  font-weight: 300;
  color: var(--fontColour);
  letter-spacing: 0.5px;
  background-color: var(--bgColour);
  /* background-image: 
    repeating-linear-gradient(90deg,
      transparent,
      transparent 30px,
      var(--bg-accent) 30px,
      var(--bg-accent) 31px)*/
} 
h1,h2 {
  font-family: var(--titleFont);
  color: var(--hColour);
}
.App {
  width: 90%;
  max-width: 768px;
  margin:  auto;
}
.block {
  border: 1px solid var(--postBorder);
  border-radius: var(--borderRad);
}
h1 {
  font-size: 2em;
  text-align: center;
  padding: 2em 0;
  margin: 1em 0;
}
.postContainer, .newBtn {
  padding: 1em;
  margin-bottom: 2em;
}
.newBtn {
  display: block;
  text-transform: lowercase;
  width: 100%;
}
form {
  background-color: var(--bgAccent);
  border: none !important;
}
form > *:not(div), .impBtn {
  width: 100%;
  border: 1px dashed var(--bgColour);
  border-radius: var(--borderRad);
  padding: 0.6em 1em;
  margin-bottom: 0.8em;
}
form> *:not(div):focus {
  outline-offset: -5px;
}
form input:first-of-type {
  font-size: 1.6em;
}
input::placeholder,
textarea::placeholder {
  opacity: 0.7;
}
textarea {
  resize: none;
}
.impBtn {
  width: 175px;
  border: none;
  background-color: var(--bgColour);
}
form > div:last-child {
  text-align: right;
}
.btnContainer {
  padding-bottom: 2em;
}
div > button {
  padding-right: 2em;
}
h2 {
  font-size: 1.6em;
  font-style: italic;
}
.postInfo {
  font-size: 0.6em;
  font-style: italic;
  display: block;
  padding: 0.6em 0 0.4em;
  border-bottom: 1px solid var(--bgAccent);
}
.postContainer p {
  padding: 1em 0;
}
.songInfo {
  font-size: 0.6em;
}